<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jeremy's Web Server</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/index">Home</a>
      <a href="/about">About</a>
    </nav>
    <h1>About</h1>
    <p>This project uses a live server to host it's content and dynamically displays pages to view using the built-in path and fs Node.js modules. The pages used are within a 'view' folder that gets loaded by a 'server.js' file; the file checks if a requested file exists, and when if it does, it serves the .html file while leaving the extension out of the URL.</p>
    <img src="img/win.jpg_large" alt="">
  </body>
</html>