<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jeremy's Web Server</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/index">Home</a>
      <a href="/about">About</a>
    </nav>
    <h1>Index</h1>
    <p>Welcome to my web server! This is my little humble abode.</p>
    <p>Click the button below to randomly have the background turn green, yellow, or just stay blue!</p>
    <button id="colorButton">Change Background Color</button>
    <script src="js/script.js"></script>
  </body>
</html>