<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tay's Treats</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/">Tay's Treats</a>
        </div>
        <div class="links">
            <a href="/">Home</a>
            <a href="shop.html">Shop</a>
            <a href="about.html">About</a>
        </div>
    </nav>
    <div id="app">
        <div class="content">
            <h1>ERROR 404: Page not found</h1>
            <p style="margin-bottom: 50px;">Whoops! Looks like there's been a mix up in the kitchen- the page you're looking for doesn't exist.</p>
            <a class="button" href="/">Head back home</a>
        </div>
    </div>
</body>
</html>