<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tay's Treats</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <nav>
        <a class="active" href="/">Home</a>
        <a href="shop.html">Shop</a>
        <a href="about.html">About</a>
    </nav>
    <div id="app">
        <h1>Welcome to Tay's Treats - Your one-stop candy shop!</h1>
        <p>Explore our collection of unique sweets for families, friends, and YOU! Whether you're looking for something sweet, sour, or savory, we've got it!</p>
        <h1>Need an Invoice? We've Got You Covered!</h1>
        <p>The only thing sweeter than our candy is our automatic invoice generation- free with every purchase! Simply add the treats to your cart, check out, and view/download a PDF of purchases INSTANTLY! Perfect for expense tracking, tax deductions, and corporate purchases!</p>
        <a href="shop.html">Browse, Buy, and Download NOW!</a>


    
    </div>
    
</body>
</html>